{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Edit item {{ item.title }}</h1>
    {% include 'Film/_form.html.twig' %}
    <a href="/films/show?id={{ item.id }}">Back</a>
{% endblock %}
